openapi: 3.1.0
info:
  title: Oblivion Consumer API
  version: 0.1.0
  description: Browser app API for supervised personal information cleanup. Case routes require Authorization Bearer (case access token) except POST /api/cases.
servers:
  - url: https://oblivion.phantasy.bot
components:
  securitySchemes:
    caseAccessToken:
      type: http
      scheme: bearer
      description: Case access token returned by POST /api/cases
security:
  - caseAccessToken: []
paths:
  /api/cases:
    post:
      summary: Create cleanup case
      tags: [Cases]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [jurisdiction, authorityBasis, riskLevel]
              properties:
                jurisdiction: { type: string, enum: [US, EU, UK] }
                authorityBasis: { type: string }
                riskLevel: { type: string, enum: [standard, high-risk-safety] }
      responses:
        '201': { description: Case created with accessToken }
    get:
      summary: List consumer cases
      tags: [Cases]
      security: []
      responses:
        '401':
          description: Case list is not available on the consumer API (per-case bearer token required)
  /api/cases/{caseId}:
    get:
      summary: Get case status
      tags: [Cases]
      parameters:
        - name: caseId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200': { description: Case status }
  /api/cases/{caseId}/intake:
    post:
      summary: Submit encrypted intake
      tags: [Cases]
      parameters:
        - name: caseId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [encryptedIntake, redactedScope]
              properties:
                encryptedIntake: { type: string }
                redactedScope: { type: object }
      responses:
        '200': { description: Intake stored }
  /api/cases/{caseId}/preset:
    post:
      summary: Apply cleanup preset
      tags: [Agent]
      parameters:
        - name: caseId
          in: path
          required: true
          schema: { type: string }
      responses:
        '201': { description: Preset applied }
  /api/cases/{caseId}/plan:
    get:
      summary: Get agent plan
      tags: [Agent]
      parameters:
        - name: caseId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200': { description: Agent plan }
  /api/cases/{caseId}/agent/run:
    post:
      summary: Advance cleanup agent one step
      tags: [Agent]
      parameters:
        - name: caseId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200': { description: Agent step result }
  /api/cases/{caseId}/findings:
    get:
      summary: List discovery findings
      tags: [Discovery]
      parameters:
        - name: caseId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200': { description: Findings list }
  /api/cases/{caseId}/findings/discover:
    post:
      summary: Run scoped discovery
      tags: [Discovery]
      parameters:
        - name: caseId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                pastedUrls:
                  type: array
                  items: { type: string }
                searchLabels:
                  type: object
                  properties:
                    personLabel: { type: string }
                    aliases:
                      type: array
                      items: { type: string }
                    regionLabel: { type: string }
                walletAddress:
                  type: string
      responses:
        '200': { description: Discovery results }
  /api/cases/{caseId}/findings/{findingId}/confirm:
    post:
      summary: Confirm a finding match
      tags: [Discovery]
      parameters:
        - name: caseId
          in: path
          required: true
          schema: { type: string }
        - name: findingId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200': { description: Finding confirmed }
  /api/cases/{caseId}/findings/{findingId}/reject:
    post:
      summary: Reject a finding match
      tags: [Discovery]
      parameters:
        - name: caseId
          in: path
          required: true
          schema: { type: string }
        - name: findingId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200': { description: Finding rejected }
  /api/cases/{caseId}/preferences:
    get:
      summary: Get case preferences
      tags: [Cases]
      parameters:
        - name: caseId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200': { description: Preferences }
    post:
      summary: Update case preferences
      tags: [Cases]
      parameters:
        - name: caseId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200': { description: Preferences updated }
  /api/cases/{caseId}/ai-entitlement:
    get:
      summary: AI entitlement for case
      tags: [Credits]
      parameters:
        - name: caseId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200': { description: Entitlement status }
  /api/actions/propose:
    post:
      summary: Propose disclosure action
      tags: [Approvals]
      responses:
        '201': { description: Approval proposed }
  /api/approvals/{approvalId}/approve:
    post:
      summary: Approve proposed action
      tags: [Approvals]
      parameters:
        - name: approvalId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200': { description: Approval recorded }
  /api/actions/{actionId}/execute:
    post:
      summary: Execute approved action
      tags: [Approvals]
      parameters:
        - name: actionId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200': { description: Action executed }
  /api/export:
    post:
      summary: Export encrypted case bundle
      tags: [Lifecycle]
      responses:
        '200': { description: Export payload }
  /api/delete:
    post:
      summary: Delete case and purge data
      tags: [Lifecycle]
      responses:
        '200': { description: Case deleted }
  /api/presets:
    get:
      summary: List cleanup presets
      tags: [Meta]
      security: []
      responses:
        '200': { description: Preset catalog }
  /api/skills:
    get:
      summary: List installable agent skills
      tags: [Meta]
      security: []
      responses:
        '200': { description: Skill manifest }
  /api/config:
    get:
      summary: Public client configuration
      tags: [Meta]
      security: []
      responses:
        '200': { description: API origin and CORS hints }
  /api/discovery/preview:
    post:
      summary: Anonymous discovery preview (quota may apply)
      tags: [Discovery]
      security: []
      responses:
        '200': { description: Preview candidates }
        '429': { description: Daily preview quota exceeded }
  /api/wallet/cases:
    get:
      summary: List cases linked to wallet session
      tags: [Wallet]
      security: []
      responses:
        '200': { description: Linked cases }
  /api/wallet/cases/link:
    post:
      summary: Link case to wallet session
      tags: [Wallet]
      responses:
        '200': { description: Case linked }
  /api/credits/balance:
    get:
      summary: Credit balance for wallet
      tags: [Credits]
      responses:
        '200': { description: Balance }
  /api/x402/products:
    get:
      summary: x402 product catalog
      tags: [Payments]
      security: []
      responses:
        '200': { description: Products }
  /api/x402/config:
    get:
      summary: x402 payment configuration
      tags: [Payments]
      security: []
      responses:
        '200': { description: Config }
  /api/x402/one-off:
    post:
      summary: Create one-off x402 payment session
      tags: [Payments]
      responses:
        '201': { description: Payment session }
  /api/x402/subscription:
    post:
      summary: Create subscription x402 payment session
      tags: [Payments]
      responses:
        '201': { description: Payment session }
  /api/credits/purchase:
    post:
      summary: Purchase credits (one-off)
      tags: [Payments]
      responses:
        '200': { description: Credits purchased }
  /api/credits/monitor:
    post:
      summary: Subscribe to breach monitoring credits
      tags: [Payments]
      responses:
        '200': { description: Subscription active }
  /api/integrations/status:
    get:
      summary: Integration availability
      tags: [Integrations]
      security: []
      responses:
        '200': { description: Status }
  /api/integrations/wallet-config:
    get:
      summary: Wallet connector configuration
      tags: [Integrations]
      security: []
      responses:
        '200': { description: Wallet config }
  /api/metamask/smart-account-session:
    post:
      summary: MetaMask smart account session
      tags: [Integrations]
      responses:
        '200': { description: Session }
  /api/trust/attestation:
    get:
      summary: Trust center attestation proof
      tags: [Trust]
      security: []
      responses:
        '200': { description: Attestation payload }
  /api/trust/privacy:
    get:
      summary: Trust privacy matrix
      tags: [Trust]
      security: []
      responses:
        '200': { description: Privacy policy data }
  /api/connectors/hibp/password-range:
    post:
      summary: HIBP password range check (approval-gated)
      tags: [Connectors]
      responses:
        '200': { description: Range result }
  /api/connectors/hibp/email-check:
    post:
      summary: HIBP email breach check (approval-gated)
      tags: [Connectors]
      responses:
        '200': { description: Breach result }
  /api/connectors/google/removal-plan:
    post:
      summary: Google removal plan helper
      tags: [Connectors]
      responses:
        '200': { description: Removal plan }